<div id="headcontainer" class="hfeed site" style="width: 350px;">
    <header id="masthead" class="site-header" role="banner">
      <hgroup>
        <h1 class="site-title" style="text-align: center;"><a href="#" title="Paulina A. Kisselev, PhD." rel="home">{{ site.Title }}</a></h1>
        <h2 class="site-description" style="text-align: center; font-size:1.2rem;">Psychologist</h2>
      </hgroup>

      <nav id="site-navigation" class="main-navigation" role="navigation">
        <h3 class="menu-toggle">Menu</h3>
        <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      </nav><!-- #site-navigation -->

    </header><!-- #masthead -->
  </div>
