<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="pingback" href="xmlrpc.php" />
<link rel='dns-prefetch' href='http://platform-api.sharethis.com/' />
<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='http://s.w.org/' />
<link rel='stylesheet' id='twentytwelve-fonts-css'
    href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext'
    type='text/css' media='all' />
<link rel='stylesheet' id='twentytwelve-style-css' href='/assets/styleeff2.css?ver=4.7.9' type='text/css' media='all' />
<link rel="canonical" href="index.html" />
<link rel='shortlink' href='index.html' />
<style type="text/css">
    .site-title a,
    .site-description {
        color: #f2f2f2 !important;
    }
</style>
<style type="text/css" id="custom-background-css">
    body {
        background-image: url(assets/dreamstime.jpg);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-color: #0a395b;
    }
</style>
<style>
    .main-navigation li a,
    .main-navigation li {
        display: block;
    }

    .site-content article {
        border-bottom: none;
    }

    footer[role="contentinfo"] {
        border-top: none;
    }

    h1,
    .entry-title {
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: normal;
    }

    .mainsite {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;

        margin-bottom: 100px;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
    }

    .wrapper {
        margin: 0 auto;
        width: 960px;

        overflow: hidden;
        padding: 0 24px 0 24px;
    }

    .site-content article {
        margin-bottom: 0;
    }

    .entry-meta {
        display: none;
    }

    .nav-menu li {
        width: inherit;
        text-align: center;

    }

    a,
    a:hover {
        color: white;
    }

    .site-header {
        padding: 1.0rem 0;
    }

    .main-navigation li a {
        line-height: 3.5;
    }

    .main-navigation {
        margin-top: 10px;
    }

    body .site {
        margin-bottom: 20px;
    }
</style>
